BODY{
    background-color: rgb(13, 222, 184)(to right red);
}
h1{
    color: crimson;
}
td{
    color:rgb(255, 0, 0);
}
tr{
    color: rgb(15, 172, 224);
}
UL{
    color: chartreuse;
}
h2{
    color: rgb(250, 3, 222);
}
h3{
    color: rgb(254, 119, 1);
}
h4{
    color: rgb(21, 203, 239);
}
h5{
    color: rgb(52, 8, 208);
}
h6{
    color: rgb(204, 238, 10);
}
button{
    color: chartreuse;
    background-color: brown;
}
